
form{
    background-color: rgb(19, 214, 214);
    width: 500px;
    margin-left: 100px;



}


.field{

    margin-left: 100px;
    padding: 10px;
}

h3{
margin-left: 100px;

}


button{

    margin-left: 100px;
    
    
}